<div
  x-init="$store.modals.register('#Popup-{{ section_id }}-{{ block.id }}', 'popup'); initTeleport($root);"
  x-data
>
  <div x-cloak>
    <template data-should-teleport="#popup-slot">
      <template x-if="$store.modals.popup.contents === '#Popup-{{ section_id }}-{{ block.id }}'">
        <div data-modal-label="{{ block.settings.page.title | escape }}">
          <div class="relative flex items-center justify-between mt-5 py-4">
            <h1 class="font-heading text-2xl break-word" class="" tabindex="-1">
              {{ block.settings.page.title }}
            </h1>
            <button @click.prevent="$store.modals.close('popup')" class="block ml-auto top-0">
              <span class="sr-only">{{ 'general.accessibility.close_modal' | t }}</span>
              <span class="inline-block w-6 h-6">{% render 'icon-close' %}</span>
            </button>
          </div>
          <div class="w-full h-full">
            {{ block.settings.page.content }}
          </div>
        </div>
      </template>
    </template>
  </div>
</div>