{%- if block.settings.truncate_description and product.description.size > 100 -%}
  <div
    class="js-enabled {{ block_base_classes }} my-8 group-first:mt-0"
    x-data="
      {
        open: false,
        readMore() {
          const sectionId = this.productRoot.id;
          const fullWDescriptionEl =
            document.querySelector('[data-product-full-width-description]');

          if (fullWDescriptionEl) {
            fullWDescriptionEl.scrollIntoView({ behavior: 'smooth' });
          } else {
            this.open = ! this.open;
          }
        }
      }
    "
    x-cloak
    data-disable-variance
    {{ block.shopify_attributes }}
  >
    <div
      class="text-theme-basic"
      x-show="!open"
      x-data="ThemeUtil_RTE"
    >
      {{ product.description | strip_newlines | strip_html | truncatewords: 25 | newline_to_br | replace: '<meta charset="utf-8">', '' }}
    </div>
    <button
      @click="readMore()"
      x-show="!open"
      :aria-expanded="open ? true : 'false'"
      class="mt-4 mb-8 cursor-pointer font-secondary text-sm theme-link"
    >
      {{ 'products.product.read_more' | t }}
    </button>
    <div class="rte rte--compact text-theme-basic" x-show="open" x-data="ThemeUtil_RTE">
      {{ product.description | replace: '<meta charset="utf-8">', '' }}
    </div>
  </div>
  <noscript>
    <div class="rte rte--compact my-8 group-first:mt-0text-theme-basic">
      {{ product.description | replace: '<meta charset="utf-8">', '' }}
    </div>
  </noscript>
{%- else -%}
  <div
    class="{{ block_base_classes }} my-8 group-first:mt-0"
    data-disable-variance
    x-data="ThemeUtil_RTE"
    {{ block.shopify_attributes }}
  >
    <div class="rte rte--compact text-theme-basic">
      {{ product.description | replace: '<meta charset="utf-8">', '' }}
    </div>
  </div>
{%- endif -%}
{% unless request.design_mode %}
  <script src="{{ 'rte.js' | asset_url }}" type="module"></script>
{% endunless %}