<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ content_for_header }}

    {% liquid
      render 'meta-tags'
      render 'js-bridge'
    %}

    <script src="{{ 'utils.js' | asset_url }}" defer></script>
    <script src="{{ 'polyfills-inert.bundle.min.js' | asset_url }}" type="module"></script>
    <script src="{{ 'global.bundle.min.js' | asset_url }}" type="module"></script>
    {% if settings.quantity_style == 'dropdown' %}
      <script src="{{ 'quantity-dropdown.js' | asset_url }}" type="module"></script>
    {% endif %}
    <script src="{{ 'quantity-stepper.js' | asset_url }}" type="module"></script>
    {% if template == 'cart' or settings.cart_type == 'drawer' %}
      <script src="{{ 'cart-items.js' | asset_url }}" type="module"></script>
      <script src="{{ 'cart-footer.js' | asset_url }}" type="module"></script>
      {% if settings.cart_notes_enable %}
        <script src="{{ 'cart-note.js' | asset_url }}" type="module"></script>
      {% endif %}
    {% endif %}
    {% if request.design_mode %}
      {% comment %} If theme editor, load all modules {% endcomment %}
      <script src="{{ 'vendor-product.bundle.min.js' | asset_url }}" type="module"></script>
      <script src="{{ 'product.js' | asset_url }}" type="module"></script>
      <script src="{{ 'modules-video.bundle.min.js' | asset_url }}" type="module"></script>
      <script src="{{ 'vendor-store-availability.bundle.min.js' | asset_url }}" type="module"></script>
      <script src="{{ 'store-availability.js' | asset_url }}" type="module"></script>
      <script src="{{ 'product-model.js' | asset_url }}" type="module"></script>
      <script src="{{ 'quick-buy.js' | asset_url }}" type="module" ></script>
      <script src="{{ 'sections-test-section.js' | asset_url }}" type="module" ></script>
      <script src="{{ 'directives-cascade.js' | asset_url }}" type="module"></script>
      <script src="{{ 'modules-background-video.bundle.min.js' | asset_url }}" type="module"></script>
      <script src="{{ 'modules-slideshow.bundle.min.js' | asset_url }}" type="module"></script>
      <script src="{{ 'theme-editor-support.js' | asset_url }}" type="module"></script>
      <script src="{{ 'faq.js' | asset_url }}" type="module"></script>
      <script src="{{ 'rte.js' | asset_url }}" type="module"></script>
      <script src="{{ 'sections-age-check.bundle.min.js' | asset_url }}" type="module"></script>
      <script src="{{ 'sections-promo-popup.bundle.min.js' | asset_url }}" type="module"></script>
      <script src="{{ 'cascade-animations.js' | asset_url }}"  type="module"></script>
      <script src="{{ 'zoom.js' | asset_url }}" type="module"></script>
      <script src="{{ 'logo-list.js' | asset_url }}" type="module"></script>

      {% if settings.predictive_search_enabled %}
        <script src="{{ 'predictive-search.js' | asset_url }}" type="module"></script>
      {% endif %}
    {% endif %}

    {% if settings.cart_type == 'drawer' %}
      <script src="{{ 'vendor-cart.bundle.min.js' | asset_url }}" type="module"></script>
    {% endif %}
    <script src="{{ 'nav-store.js' | asset_url }}" type="module"></script>


    {{ 'base.bundle.css' | asset_url | stylesheet_tag }}
    {{ 'global.css' | asset_url | stylesheet_tag }}
    {{ 'modules-rte.bundle.css' | asset_url | stylesheet_tag }}
    {% comment %}
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
    {% endcomment %}

    {% render 'css-bridge' %}

    <script>
      function onYouTubeIframeAPIReady() {
        document.body.dispatchEvent(new CustomEvent('youtubeiframeapiready'));
      };
    </script>
    <script src="{{ 'enhancements.js' | asset_url }}" defer></script>
  </head>

  <body class="theme-ctas-are-{{ settings.cta_style }}s theme-buttons-style-{{ settings.button_style }}">
    <a class="skip-link" href="#MainContent">{{ "general.accessibility.skip_to_content" | t }}</a>

    <main id="MainContent">
      {{ content_for_layout }}
    </main>

    <div id="screenreader-announce" class="sr-only" aria-live="polite" role="status"></div>

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
      <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    </ul>

    {% comment %} Modal containers {% endcomment %}
    {% liquid
      render 'left-drawer'
      render 'right-drawer'
      render 'modal'
      render 'promo'
      render 'popup'
    %}
    <script src="{{ 'modals.js' | asset_url }}" type="module"></script>

    {% comment %} Modal contents {% endcomment %}
    {% if settings.cart_type == 'drawer' %}
      {% render 'drawer-cart' %}
    {% endif %}
    <script src="{{ 'alpine.bundle.min.js' | asset_url }}" type="module"></script>
  </body>
</html>
