{% liquid
  assign section_color = section.settings.color_scheme | default: 'primary'
  assign buttons = section.blocks | where: 'type', 'button'

  unless loading
    assign loading = 'lazy'
  endunless

  case section.settings.crop
    when 'square'
      assign block_container_class = 'aspect-w-1 aspect-h-1'
    when 'three-four'
      assign block_container_class = 'aspect-w-3 aspect-h-4'
    when 'four-three'
        assign block_container_class = 'aspect-w-4 aspect-h-3'
    when 'full-screen'
      assign block_container_class = 'h-screen'
  endcase

  case section.settings.crop_desktop
    when 'square'
      assign block_container_class = block_container_class | append: ' lg:aspect-w-1 lg:aspect-h-1'
    when 'three-four'
      assign block_container_class = block_container_class | append: ' lg:aspect-w-3 lg:aspect-h-4'
    when 'four-three'
        assign block_container_class = block_container_class | append: ' lg:aspect-w-4 lg:aspect-h-3'
    when 'widescreen'
      assign block_container_class = block_container_class | append: ' lg:h-auto lg:aspect-w-16 lg:aspect-h-9'
    when 'full-screen'
      assign block_container_class = block_container_class | append: ' lg:p-0 lg:h-screen'
  endcase

  assign block_class = 'absolute inset-0 w-full h-full lg:w-full lg:h-full'
  if section.settings.crop == 'natural'
    assign block_class = 'lg:absolute lg:inset-0 lg:w-full lg:h-full'
  endif 
  
%}



<section class="bg-scheme-background text-scheme-text relative {% if section.settings.disable_color_transition %}disable-section-color-transition disable-section-color-transition-source{% endif %} has-full-bleed-images" data-color-scheme="{{ section_color }}">
  <div class="grid grid-cols-1 lg:grid-cols-12 grid-flow-row-dense">
    <div class="image-with-text__image {{ section.settings.image_width_on_desktop | split: '|' | first | strip }} {% if section.settings.image_position == 'right' %}lg:col-end-last{% endif %}">
      <div class="{{ block_container_class }} relative">
        <div class="{{ block_class }}">
          {% if section.settings.image != blank %}
            {% assign image = section.settings.image %}
            {{ image | image_url: width: 2000 | image_tag: sizes: '100vw', loading: loading, class: 'block w-full lg:w-full h-full lg:h-full object-cover' }}
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'w-full h-full lg:w-full lg:h-full bg-scheme-placeholder-background text-scheme-placeholder-foreground fill-current' }}
          {% endif %}
        </div>

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'color' %}
              {% liquid
                if block.settings.opacity == 100
                  assign background_color = block.settings.color
                else
                  assign alpha = block.settings.opacity | divided_by: 100.00
                  assign background_color = block.settings.color | color_modify: 'alpha', alpha
                endif
              %}
              <div
                class="{{ block_class }} block"
                style="background-color: {{ background_color }};"
                {{ block.shopify_attributes }}
              >
              </div>
            {% when 'color_background' %}
              <div
                class="{{ block_class }} block"
                style="
                  background-image: {{ block.settings.color_background }};
                  opacity: {{ block.settings.opacity | divided_by: 100.00 }};
                "
                {{ block.shopify_attributes }}
              >
              </div>
          {% endcase %}
        {% endfor %}

      </div>
    </div>
    <div class="text-scheme-text bg-scheme-background {{ section.settings.image_width_on_desktop | split: '|' | last | strip }} flex items-center py-section"  {% if section.settings.content_color_scheme != 'follow' %}data-color-scheme="{{ section.settings.content_color_scheme }}" {% endif %}>
      <div class="w-full px-5 lg:px-10 {{ section.settings.text_align }}">
        {% if section.settings.title != blank %}
          <div class="font-heading {{ section.settings.text_size }} break-word">
            {{ section.settings.title | escape }}
          </div>
        {% endif %}
        {% if section.settings.text != blank %}
        <div class="rte rte--compact break-word text-base mt-5">
          {{ section.settings.text }}
        </div>
        {% endif %}
      
        {% for block in buttons %}
          <div class="mt-8" {% unless section.settings.text_color == 'color_scheme' %}data-color-scheme="{{ section.settings.text_color | replace: 'text-', '' | append: '-text' }}"{% endunless %}>
            <a
              class="theme-button {% if block.settings.style == 'solid' %}theme-button--solid theme-button--solid-overlay{% endif %} break-word"
              href="{{ block.settings.link }}"
            >
              {{ block.settings.text | escape }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image with text split",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position on desktop",
      "default": "right",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_width_on_desktop",
      "label": "Image width on desktop",
      "default": "lg:col-span-6 | lg:col-span-6",
      "options": [
        {
          "value": "lg:col-span-4 | lg:col-span-8",
          "label": "One third"
        },
        {
          "value": "lg:col-span-5 | lg:col-span-7",
          "label": "Two fifths"
        },
        {
          "value": "lg:col-span-6 | lg:col-span-6",
          "label": "One half"
        },
        {
          "value": "lg:col-span-7 | lg:col-span-5",
          "label": "Three fifths"
        },
        {
          "value": "lg:col-span-8 | lg:col-span-4",
          "label": "Two thirds"
        }
      ]
    },
    {
      "type": "select",
      "id": "crop",
      "label": "Aspect ratio – mobile:",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "three-four",
          "label": "Portrait (3:4)"
        },
        {
          "value": "square",
          "label": "Square (1:1)"
        },
        {
          "value": "four-three",
          "label": "Classic (4:3)"
        },
        {
          "value": "full-screen",
          "label": "Full screen"
        }
      ],
      "default": "square"
    },
    {
      "type": "select",
      "id": "crop_desktop",
      "label": "Aspect ratio – desktop:",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "three-four",
          "label": "Portrait (3:4)"
        },
        {
          "value": "square",
          "label": "Square (1:1)"
        },
        {
          "value": "four-three",
          "label": "Classic (4:3)"
        },
        {
          "value": "widescreen",
          "label": "Widescreen (16:9)"
        },
        {
          "value": "full-screen",
          "label": "Full screen"
        }
      ],
      "default": "square"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Heading",
      "default": "Image with text split"
    },
    {
      "type": "radio",
      "id": "text_size",
      "label": "Heading text size",
      "options": [
        {
          "value": "text-heading-feature",
          "label": "Feature heading"
        },
        {
          "value": "text-heading-standard",
          "label": "Standard heading"
        }
      ],
      "default": "text-heading-feature"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "select",
      "id": "content_color_scheme",
      "label": "Content color scheme",
      "options": [
        {
          "value": "follow",
          "label": "Follow section color scheme"
        },
        {
          "value": "primary",
          "label": "Primary background"
        },
        {
          "value": "secondary",
          "label": "Secondary background"
        },
        {
          "value": "tertiary",
          "label": "Tertiary background"
        }
      ],
      "default": "follow"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_color_transition",
      "label": "Disable transition",
      "info": "Overrides section color transitions theme setting."
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Shop now"
        },
        {
          "type": "radio",
          "id": "style",
          "label": "Style",
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "border-only",
              "label": "Border only"
            }
          ],
          "default": "solid"
        }
      ]
    },
    {
      "type": "color",
      "name": "Color",
      "limit": 1,
      "settings": [
        {
          "id": "color",
          "type": "color",
          "label": "Color",
          "default": "#f4fbf2"
        },
        {
          "id": "opacity",
          "type": "range",
          "label": "Opacity",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 80
        }
      ]
    },
    {
      "type": "color_background",
      "name": "CSS background",
      "limit": 1,
      "settings": [
        {
          "id": "color_background",
          "type": "color_background",
          "label": "CSS Background",
          "default": "linear-gradient(#162317, #f4fbf2)"
        },
        {
          "id": "opacity",
          "type": "range",
          "label": "Opacity",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 80
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text split"
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}