{%- liquid
  assign section_color = section.settings.color_scheme | default: 'primary'
  assign userTermsText = ''
  assign userTermsNotification = ''
  assign section.settings.newsletter_form_heading = "<p></p>"
  assign section.settings.newsletter_button_text = ""
  assign section.settings.title = "Coming soon!"
-%}

<div class="fixed top-0 left-0 right-0 bottom-0 bg-scheme-background" data-color-scheme="{{ section_color }}">
  {%- if section.settings.background_image != blank %}
    {{
      section.settings.background_image
      | image_url: width: 2000
      | image_tag: class: 'block fixed inset-0 w-full h-full object-cover z-[-1]', loading: 'lazy'
    }}
  {%- endif -%}
</div>

<section
  id="{{ section.id }}"
  class="text-scheme-text relative"
  data-color-scheme="{{ section_color }}"
  x-data
  x-init="
    initTeleport($root);
    $store.modals.register('password', 'modal');
  "
>
  <div class="fixed top-4 right-4">
    <button
      class="block w-6 h-6"
      @click="$store.modals.open('password')"
    >
      <span class="sr-only">Lösenordssida</span>
      {% render 'icon-lock' %}
    </button>
  </div>
  <div class="min-h-screen flex">
    <div class="my-auto py-section max-w-site mx-auto min-w-[60%]">
      <div class="grid gap-x-grid-gutter lg:grid-cols-4">
        <div class="lg:col-span-1">
          <div class="pb-16 pl-5 pr-20 lg:px-0 lg:pb-0 flex">
            {% if section.settings.logo != blank %}
              {% liquid
                assign logo = section.settings.logo
                assign logo_max_width = section.settings.logo_max_width
                assign logo_max_width_2x = section.settings.logo_max_width | times: 2
              %}
              {% capture image_size %}{{ logo_max_width }}x{% endcapture %}
              {% style %}
                #{{ section.id }} {
                  --password-logo-max-width: {{ logo_max_width }}px;
                }
              {% endstyle %}
              <h1 class="mr-auto md:ml-auto md:mr-0 break-word">
                <div class="max-w-[var(--password-logo-max-width)]">
                  <img
                    src="{{ logo | image_url: width: logo_max_width }}"
                    class="w-full"
                    loading="eager"
                    srcset="{{ logo | image_url: width: logo_max_width }} 1x, {{ logo | image_url: width: logo_max_width_2x }} 2x"
                    alt="{{ logo.alt | default: shop.name }}"
                    sizes="{{ logo_max_width }}px"
                    width="{{ logo.width }}"
                    height="{{ logo.height }}"
                  >
                </div>
              </h1>
            {% else %}
              <h1 class="font-heading text-heading-standard mr-auto md:ml-auto md:mr-0">
                {{ shop.name }}
              </h1>
            {% endif %}
          </div>
        </div>
        <div class="lg:col-span-3">
          <div class="px-5 lg:px-0">
            {% if section.settings.title != blank %}
              <h2 class="font-heading text-xl break-word">
                {{ section.settings.title | escape | strip }}
              </h2>

              {% comment %}
                Password message from store preferences
              {% endcomment %}

              {% unless shop.password_message == blank %}
                <div class="text-theme-basic mt-5">
                  {{ shop.password_message }}
                </div>
              {% endunless %}

              {% if section.settings.newsletter_enable %}
                {% if section.settings.newsletter_form_heading != blank %}
                  <div class="mt-5 text-theme-basic rte rte--content-only rte--compact">
                    {{ section.settings.newsletter_form_heading }}
                  </div>
                {% endif %}
                <div class="mt-5 mb-20">
                  {% form 'customer' %}
                    {% if form.errors %}
                      <div class="text-sm mb-5 needs-attention">
                        {{ form.errors | default_errors }}
                      </div>
                    {% endif %}

                    {% if form.posted_successfully? %}
                      <p class="mb-5">
                        Som tack för din prenumeration kommer du att vara den första som informeras när vi släpper våra
                        produkter.
                      </p>
                    {% else %}
                      <!-- Förnamn -->
                      <div class="mt-3">
                        <label for="FirstName" class="block">Förnamn <span class="text-red-500">*</span></label>
                        <input
                          type="text"
                          name="contact[first_name]"
                          id="FirstName"
                          class="text-theme-basic w-full"
                          required
                        >
                      </div>

                      <!-- Efternamn -->
                      <div class="mt-3">
                        <label for="LastName" class="block">Efternamn <span class="text-red-500">*</span></label>
                        <input
                          type="text"
                          name="contact[last_name]"
                          id="LastName"
                          class="text-theme-basic w-full"
                          required
                        >
                      </div>

                      <!-- E-post -->
                      <div class="mt-3">
                        <label for="Email" class="block">E-post <span class="text-red-500">*</span></label>
                        <input
                          type="email"
                          name="contact[email]"
                          id="Email"
                          class="text-theme-basic w-full"
                          required
                        >
                      </div>

                      <!-- Acceptera användarvillkor -->
                      <div class="mt-5">
                        <label for="AcceptTerms" class="block">
                          <input
                            type="checkbox"
                            name="accept_terms"
                            id="AcceptTerms"
                            required
                            x-model="showUserTerms"
                          >
                          <a href="https://pdf.ac/2AUe4N" target="_blank" rel="noopener noreferrer">
                            Jag accepterar användarvillkoren
                          </a>
                         <br>
                          <a href="https://pdf.ac/k7IjZ"> Läs om vår Intergritetspolicy </a>
                        </label>
                      </div>

                      <!-- Notis om användarvillkor -->
                      <div x-show="showUserTerms" class="mt-3 text-theme-basic">
                        {{ userTermsNotification | newline_to_br }}
                      </div>

                      <!-- Submit-knapp -->
                      <div class="mt-3 md:mt-5">
                        <button
                          type="submit"
                          class="theme-button theme-button--solid"
                        >
                          <span class="text-theme-basic">Skicka</span>
                        </button>
                      </div>
                    {% endif %}
                  {% endform %}
                </div>
              {% endif %}
            {% endif %}
            {% if section.settings.show_share_buttons %}
              <div class="mt-10">
                {% render 'page-share' %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div x-cloak>
    <template data-should-teleport="#modal-slot">
      <div x-show="$store.modals.modal.contents === 'password'">
        <div
          :data-modal-label="$store.modals.modal.contents === 'password' ? 'Inloggningsformulär' : null"
          class="w-full h-full min-h-screen flex"
        >
          <button @click.prevent="$store.modals.close('password')" class="block ml-auto fixed mt-5 pt-4 right-10">
            <span class="sr-only">Stäng modal</span>
            <span class="inline-block w-6 h-6">{% render 'icon-close' %}</span>
          </button>
          <div class="my-auto py-section max-w-site mx-auto min-w-[40%]">
            <h2 class="font-heading text-2xl mt-5">Inloggningsformulär</h2>
            <form action="/password" method="post" class="login-form">
              <input type="hidden" name="utf8" value="✓">

              <label for="Password" class="mt-5 block"> Lösenord </label>
              <input
                type="password"
                name="password"
                id="Password"
                class="text-theme-basic"
              >
              <button
                type="submit"
                class="ml-3 md:ml-5 theme-button theme-button--solid"
              >
                <span class="text-theme-basic"> Logga in </span>
              </button>
            </form>
            <p class="mt-10 text-sm">
              <a href="{{ shop.customer_login_link }}" class="text-theme-basic"
                >Har du redan ett konto? Logga in här.</a
              >
            </p>
          </div>
        </div>
      </div>
    </template>
  </div>
</section>

{% schema %}
{
  "name": "Lösenord",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 20,
      "max": 450,
      "step": 10,
      "unit": "px",
      "label": "Custom logo width",
      "default": 250
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Opening Soon"
    },
    {
      "id": "background_image",
      "type": "image_picker",
      "label": "Background image"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "<p>Be the first to know when we launch.</p>",
      "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter placeholder text",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter button text",
      "default": "Submit"
    },
    {
      "type": "header",
      "content": "Social sharing"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social media sharing buttons",
      "default": true
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        }
      ]
    }
  ]
}
{% endschema %}
