{%- liquid
  assign section_color = section.settings.color_scheme
  assign show_sort = section.settings.enable_sorting
  assign show_filters = section.settings.enable_filtering
  assign linklist = section.settings.linklist
  assign desktop_filter_layout = section.settings.desktop_filter_layout
  assign desktop_menu_layout = section.settings.desktop_menu_layout
  assign desktop_sidebar_in_use = false

  if show_filters or show_sort
    assign total_active_values = 0
    for filter in collection.filters
      assign total_active_values = total_active_values | plus: filter.active_values.size
    endfor

    unless desktop_filter_layout == 'drawer'
      assign desktop_sidebar_in_use = true
    endunless
  endif

  assign menu_in_sidebar = false
  if linklist != blank and desktop_menu_layout == 'sidebar'
    assign menu_in_sidebar = true
    assign desktop_sidebar_in_use = true
  endif

  if desktop_sidebar_in_use
    assign wrapper_classes = 'lg:grid lg:gap-grid-gutter lg:grid-cols-[14rem_1fr]'
    assign product_grid_classes =  'grid gap-4 md:gap-half-grid-gutter '
  else
    assign product_grid_classes = 'grid gap-4 md:gap-half-grid-gutter '
  endif

  assign mobile_grid_cols = section.settings.products_per_row_mobile
  case section.settings.products_per_row_desktop
    when 2
      assign desktop_grid_cols = ' lg:grid-cols-2'
    when 3
      assign desktop_grid_cols = ' lg:grid-cols-3'
    when 4
      assign desktop_grid_cols = ' lg:grid-cols-4'
    when 5
      assign desktop_grid_cols = ' lg:grid-cols-5'
  endcase
  assign product_grid_classes = product_grid_classes | append: mobile_grid_cols | append: desktop_grid_cols
-%}


{%- capture filter_drawer_toggle -%}
<button type="button" @click="$store.modals.open('filters')">
  <span class="inline-block align-middle h-5 w-5 mr-2">
    {%- if show_sort and show_filters == false -%}
      {% render 'icon-sort' %}
    {%- else -%}
      {% render 'icon-filter' %}
    {%- endif -%}
  </span>
  <span class="inline-block align-middle">
    {%- if show_sort and show_filters -%}
    {{ 'facets.filters.filter_and_sort' | t }}
    {%-  elsif show_sort and show_filters == false -%}
    {{ 'facets.sorting.title' | t }}
    {%-  else -%}
    {{ 'facets.filters.filter' | t }}
    {%- endif -%}
  </span>
</button>
{%- endcapture -%}

{% style %}
  .main-collection-banner {
    --color-scheme-text: var(--color-{{ section_color }}-text);
    --color-scheme-text-overlay: var(--color-{{ section_color }}-text-overlay);
    --color-scheme-background: var(--color-{{ section_color }}-background);
    --color-scheme-accent: var(--color-{{ section_color }}-accent);
    --color-scheme-accent-overlay: var(--color-{{ section_color }}-accent-overlay);
    --color-scheme-meta: var(--color-{{ section_color }}-meta);
  }
{% endstyle %}

<section
  class="py-section bg-scheme-background text-scheme-text"
  data-color-scheme="{{ section_color }}"
  x-data="ThemeSection_filterable('{{ section.id }}')"
>
  <div
    id="facets-filterable"
    class="max-w-site mx-auto px-5 lg:px-10"
  >

    {% if linklist != blank %}
      {% render 'collection-horizontal-navigation',
        linklist: linklist,
        desktop_menu_layout: desktop_menu_layout
      %}
    {% endif %}

    <div class="{{ wrapper_classes }}">
      {% if show_filters or show_sort or menu_in_sidebar %}
        <a class="in-page-link skip-link" href="#facets-results">{{ 'collections.general.title' | t }}</a>
        {% if show_filters %}
          <div class="hidden" id="facets-results-count">
            {%- if collection.products_count == 1 -%}
              {{ 'collections.general.items_with_count.one' | t: count: collection.products_count }}
            {%- else -%}
              {{ 'collections.general.items_with_count.other' | t: count: collection.products_count }}
            {%- endif -%}
          </div>
        {% endif %}
        {% if desktop_filter_layout == 'sidebar' or menu_in_sidebar %}
        <div class="sw-hidden lg:block lg:sticky lg:top-header-height-with-buffer lg:h-min {% if collection.products.size == 0 %}lg:hidden{% endif %}">
          {% if linklist != blank and desktop_menu_layout == 'sidebar' %}
            <aside>
              <nav>
                <ul class="mb-12">
                  {% for link in linklist.links %}
                    <li class="mb-3">
                      <a class="theme-link-mono break-word" href="{{ link.url }}">
                        {{- link.title -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </nav>
            </aside>
          {% endif %}
          {% if show_filters or show_sort %}
            {% if desktop_filter_layout == 'sidebar' %}
                {% render 'filters-desktop',
                  results: collection,
                  enable_color_swatch_filters: section.settings.enable_color_swatch_filters,
                  expand_filters: section.settings.expand_filters,
                  capitalize_filters: section.settings.capitalize_filters,
                  show_filter_count: section.settings.show_filter_count,
                  show_filters: show_filters,
                  show_sort: show_sort
                %}
            {% else %}
              <div class="mr-auto mt-5 lg:mt-10">
                {{ filter_drawer_toggle }}
              </div>
            {% endif %}
          {% endif %}
        </div>
        {% endif %}
      {% endif %}
      <div class="{% if collection.products.size == 0 %}lg:col-span-full{% endif %}">
        {%- if collection.products.size == 0 -%}
          <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
        {%- else -%}
        {% if show_filters or show_sort %}
        <div class="flex justify-between">
          <div class="mr-auto my-5 {% if desktop_filter_layout == 'sidebar' or desktop_sidebar_in_use %}  lg:hidden{% else %} lg:mt-0 lg:mb-8{% endif %}">
            {{ filter_drawer_toggle }}
          </div>
        </div>
        {% endif %}
        {% paginate collection.products by section.settings.max_products %}
          <ul
            id="facets-results"
            class="{{ product_grid_classes }}"
          >
            {% liquid
              for product in collection.products
                render 'product-tile', product: product
              endfor
            %}
          </ul>
          {% if paginate.pages > 1 %}
            <div class="my-4">
              {% render 'pagination',
                paginate: paginate,
              %}
            </div>
          {% endif %}
        {% endpaginate %}
        {%- endif -%}
      </div>
    </div>
    {% if show_filters or show_sort %}
      {% render 'filters-mobile',
        results: collection,
        enable_color_swatch_filters: section.settings.enable_color_swatch_filters,
        expand_filters: section.settings.expand_filters,
        capitalize_filters: section.settings.capitalize_filters,
        show_filter_count: section.settings.show_filter_count,
        linklist: linklist,
        show_filters: show_filters,
        show_sort: show_sort
      %}
    {% endif %}
  </div>
</section>

{% if show_filters or show_sort %}
  <script src="{{ 'filterable.js' | asset_url }}" type="module"></script>
{% endif %}

{% schema %}
{
  "name": "Collection - grid",
  "class": "main-collection main-collection--grid",
  "settings": [
    {
      "type": "range",
      "id": "max_products",
      "min": 2,
      "max": 24,
      "step": 2,
      "label": "Maximum number of products per page",
      "default": 12
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "radio",
      "id": "products_per_row_mobile",
      "label": "Products per row on mobile",
      "default": "grid-cols-2",
      "options": [
        {
          "value": "grid-cols-1",
          "label": "1"
        },
        {
          "value": "grid-cols-2",
          "label": "2"
        }
      ]
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "Products per row on desktop",
      "default": 3
    },
    {
      "type": "header",
      "content": "Filtering and sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "label": "Enable filtering",
      "info": "[Customize filters](/admin/menus)",
      "default": true
    },
    {
      "type": "radio",
      "id": "desktop_filter_layout",
      "label": "Desktop filter layout",
      "default": "sidebar",
      "options": [
        {
          "value": "sidebar",
          "label": "Sidebar"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "info": "Drawer is the default mobile layout."
    },
    {
      "type": "checkbox",
      "id": "expand_filters",
      "label": "Expand filters by default",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_filter_count",
      "label": "Show filter counts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_color_swatch_filters",
      "label": "Enable color swatch filters",
      "info": "[Learn how to set up swatches](https://support.switchthemes.co/article/232-color-swatches)"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "Enable sorting"
    },
    {
      "type": "header",
      "content": "Collection menu"
    },
    {
      "type": "link_list",
      "id": "linklist",
      "label": "Menu"
    },
    {
      "type": "radio",
      "id": "desktop_menu_layout",
      "label": "Desktop menu layout",
      "default": "sidebar",
      "options": [
        {
          "value": "sidebar",
          "label": "Sidebar"
        },
        {
          "value": "horizontal",
          "label": "Horizontal"
        }
      ],
      "info": "Horizontal is the default mobile layout."
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        }
      ]
    }
  ]
}
{% endschema %}
